:root{
    --font-display:'Playfair Display', serif;
    --font-Manrope:font-family: 'Manrope', sans-serif;
    --bg-grey:#151515;
    --bg-black: #101010;
    --big-title:84px;
    --color-yellow:#BE7E00;
    
}
