@import 'vars';
@import 'reset';

.container {
  margin: 0 auto;

  width: 1440px;
}
.header {
  position: absolute;
  z-index: 8;
  top: 0;
  left: 13%;
}
.container-centr {
  margin: 0 auto;
  padding: 0 95px;
  width: 1600px;
}
.header-content {
  color: #ffffff;
  display: flex;
  align-items: center;
  padding-top: 35px;
  width: 1400px;
  margin: 0 auto;
  justify-content: space-between;
}
.hidden {
  display: none;
}
.header-content-one-block {
  display: flex;
  align-items: center;
  font-size: var(--font-Manrope);
  font-size: 18px;
  position: relative;
  z-index: 5 !important;
}
.logo-text {
  margin-left: 8px;
}
.logo-content {
  display: flex;
  padding-right: 16px;
}
.logo-content {
  border-right: 1px solid #ffffff;
}
.header-center-content {
  margin-left: 50px;
  display: flex;
}
.header-num-block {
  border-left: 1px solid #ffffff;
  margin-left: 30px;
  padding-left: 30px;
  display: flex;
  a {
    color: #ffffff;
    margin-left: 10px;
  }
}
.header-img_map {
  margin-right: 10px;
}

.language-content p.active::before {
  transform: scale(1);
}
.language-content {
  display: flex;
  margin-right: 130px;

  p {
    margin-right: 12px;
    position: relative;

    &::before {
      content: '';
      transform-origin: left;
      transition: transform 0.2s ease;
      position: absolute;
      left: 0;
      bottom: 10px;
      transform: scale(0);
      width: 100%;
      height: 2px;
      background-color: #fff;
    }

    &:hover::before {
      transform: scale(1);
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

.burger-meny-open .burger-content {
  opacity: 1;
}
.burger-menu {
  position: absolute;
  left: 232px;
  top: 0;
  z-index: 6;
  width: 1440px;
  height: 800px;
  background: rgba(0, 0, 0, 0.5);
}
.burger-meny-open {
  position: absolute;
  right: 0;
  width: 480px;
  height: 100%;
  background-color: var(--bg-grey);
}
.burger-content {
  opacity: 0;
  margin-top: 100px;
  padding: 0 40px;
  li {
    cursor: pointer;
    transition: 0.3s ease;
    list-style: none;
    &:hover {
      color: #fff;
      list-style-type: disc;
    }
  }
  a {
    color: #656565;
    display: block;

    &:hover {
      color: #fff;
      list-style-type: disc;
    }
  }
  ul {
    color: #656565;
  }
  .ul1 li {
    margin-top: 15px;
  }
}
.ul2 {
  margin-top: 30px;
  li {
    margin-top: 5px;
  }
}
.nav-footer {
  display: flex;
  margin-top: 30px;
  li {
    margin-right: 20px;
  }
}
li.active {
  a {
    color: #ffffff;
  }
  list-style-type: disc;
}

// intro

.intro {
  color: #ffffff;
  .container-centr {
    background-image: url('../img/index-bg.png');
    height: 800px;
    width: 1440px;
    background-repeat: no-repeat;
  }
  h1 {
    font-size: 71px;
    font-family: var(--font-display);
    width: 900px;
    line-height: 90%;
  }
}
.inro-content {
  position: absolute;
  top: 20%;

  p {
    font-size: 18px;
    font-size: 400;
    font-family: var(--font-Manrope);
    width: 510px;
    line-height: 110%;
    margin-top: 30px;
  }
}
.intro-text-download {
  margin-top: 50px;
  text-decoration: underline;
  display: inline-block;
}
.intro-footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.type-us-intro {
  margin-top: 50px;
  display: inline-block;
  padding: 15px 17px;
  position: absolute;
  right: -350px;
  border-radius: 7px;
  color: #be7e00;
  background-color: #ffffff;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: #be7e00;
    color: #ffffff;
  }
}

// asuar-life

.asuar-life-content {
  color: #fff;
  display: flex;
  justify-content: space-between;
  width: 1200px;
}
.asuar-life {
  .container {
    background-color: var(--bg-grey);
  }
}
.one-block__asuar-life {
  position: relative;
  padding: 80px 0;
  font-family: var(--font-Manrope);
  p {
    font-size: 20px;
  }
  h2 {
    font-size: var(--big-title);
  }
  a {
    font-size: 14px;
    position: absolute;
    display: block;
    padding-bottom: 20px;
    text-decoration: underline;
    color: #fff;
    top: 80px;
    right: 160px;
  }
}
.two-block__asuar-life {
  padding: 30px 0;
}
.asuar-life-text {
  width: 470px;
  font-weight: 400;
  font-size: 15px;
}
.one-block__asuar-footer {
  margin-top: 50px;
  align-items: center;
  display: flex;
  .one-block__asuar-item {
    margin: 0 10px;
    display: flex;
    flex-direction: column;

    text-align: center;
    p {
      text-align: center;
      width: 110px;
    }
    .one-block__asuar-item-title {
      font-size: 85px;
      margin-top: 0;
    }
  }
}

.btn180px {
  margin-top: 50px;
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 7px;
  background: rgba(255, 255, 255, 0.07);
  transform-origin: left;
  transition: 0.4s ease;
  text-align: center;
  width: 200px;
  &:hover {
    background-color: #be7e00;
    transform: translateY(-2px);
  }
}
// object
.object {
  color: #fff;
  .container {
    background-color: var(--bg-black);
  }
}
.object-content {
  padding-top: 50px;
  position: relative;
  a {
    color: #fff;
    position: absolute;

    right: 33%;
    padding-bottom: 10px;
    top: 70px;
    text-decoration: underline;
  }
  h2 {
    font-size: var(--big-title);
    font-family: var(--font-display);
  }
}
.object-swiper {
  background-image: url('../img/swiper1.png');
  width: 708px;
  margin: 40px 20% 0;
  height: 670px;
  background-color: #ffffff;
  position: relative;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0);
  transition: 0.3s ease;
  margin-bottom: 70px;
  &:hover .object-swiper-overlay {
    opacity: 1;
  }
  &:hover {
    background-color: rgba(0, 0, 0, 0.362);
    background-blend-mode: multiply;
  }

  .object-swiper-overlay {
    opacity: 0;
    transition: 0.2s ease-in;
  }
  .object-swiper-overlay-header {
    padding: 40px 50px;
    display: flex;
    align-items: center;
    p {
      font-family: var(--font-Manrope);
      font-size: 20px;
      margin-left: 15px;
    }
  }
}
.object-swiper-overlay-body {
  position: absolute;
  bottom: 60px;
  left: 0;
  padding: 40px 50px;
  p {
    font-weight: 700;
    margin-top: 26px;
    width: 370px;
  }
}
.object-swiper-overlay-body-btn {
  border-radius: 8px;
  background: #fff9ec;
  padding: 6px 12px;
  color: var(--color-yellow);
  cursor: pointer;
}
.object-swiper-overlay-body-text {
  font-size: 20px;
  font-weight: 600;
}
.button-next {
  position: absolute;
  width: 50px;
  height: 50px;
  cursor: pointer;
  top: 50%;
  left: 100px;
  z-index: 5;
}
.button-prev {
  position: absolute;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 5;
  top: 50%;
  right: 200px;
}

// office

.office {
  color: #fff;

  .container {
    background-color: var(--bg-grey);
    position: relative;
    overflow: hidden;
  }
}
.office-one_block {
  position: relative;
  z-index: 4;
  font-size: var(--font-Manrope);

  p {
    width: 460px;
    font-size: 18px;
  }
  h2 {
    font-size: var(--big-title);
    font-family: var(--font-display);
    margin-bottom: 30px;
  }
}
.office-two_block {
  position: relative;
  z-index: 3;
}
.office-content {
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
  width: 1200px;
}
.elipse-map {
  position: absolute;
  top: 167px;
  left: 27px;
}
.office-body {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  p {
    margin-left: 10px;
  }
}
.btn180px.office-btn {
  margin-top: 200px;
}
.fon-office {
  position: absolute;
  top: 0;

  left: 0;
  width: 1000px;

  background-color: transparent;
}

// to-manage

.to-manage {
  color: #fff;
  position: relative;
  z-index: 3;

  .container {
    background-color: var(--bg-black);
  }
}
.to-manage-one_block {
  padding-top: 100px;
  position: relative;
  h2 {
    font-size: var(--big-title);
    font-family: var(--font-display);
    line-height: 90%;
    width: 640px;
  }
  p {
    font-family: var(--font-Manrope);
    width: 355px;
    margin-top: 50px;
    font-size: 18px;
  }
}
.more_detailed {
  position: absolute;
  margin-top: 0 !important;
  top: 200px;
  font-family: var(--font-Manrope);
  right: -370px;
  padding-bottom: 10px;
  text-decoration: underline;
}
.to-manage-one_block-content {
  display: flex;
  align-items: center;
}

.to-manage-two_block {
  margin-top: 400px;
  position: relative;
  .more_detailed {
    right: -170px;
    top: 0;
    text-decoration: underline;
  }
  h2 {
    font-size: var(--big-title);
    font-family: var(--font-display);
    line-height: 90%;
    width: 640px;
  }
  p {
    font-family: var(--font-Manrope);
    width: 355px;
    margin-top: 50px;
    font-size: 18px;
    padding-bottom: 40px;
  }
}

.suitable {
  .container {
    background-color: var(--bg-grey);
    color: #fff;
  }
}
.suitable-title {
  padding-top: 40px;
  font-size: var(--big-title);
  font-family: var(--font-display);
  width: 760px;
  line-height: 90%; /* 76.462px */
  letter-spacing: -1.699px;
}
.suitable-content {
  display: flex;
  margin-top: 50px;
  .suitable-item {
    margin-right: 60px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 50px;
    width: 382px;
    height: 393px;
    transition: 0.4s ease;
    &:hover {
      background-color: var(--bg-black);
    }
    p {
      width: 280px;
      text-align: center;
      font-family: var(--font-Manrope);
      font-size: 20px;
      margin-top: 10px;
    }
  }
}
.suitable-item-text {
  font-size: 17px !important;
  margin-top: 40px !important;
}
.suitable-item.last {
  position: relative;
}
.suitable-item-text.last {
  position: relative;
  top: 50px;
}
.suitable-img {
  position: absolute;
  top: -25px;
}
.blog {
  .object-swiper-overlay-header {
    display: flex;
    justify-content: space-between;
  }
  .container {
    background-color: var(--bg-black);
    color: #fff;
  }
}
.form {
  .container-centr {
    background-image: url('../img/christina-deravedisian-C8hRMzSpBhA-unsplash\ 1.png');
    width: 100%;
    height: 100vh;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;

      background: -webkit-linear-gradient(
        360deg,
        #000000,
        transparent
      ); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(
        360deg,
        #000000fc,
        transparent
      ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
  }
}
.form-content {
  display: flex;
  flex-direction: column;
  padding-top: 30%;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
}
.form-title {
  font-size: var(--big-title);
  font-family: var(--font-display);
  width: 920px;
  text-align: center;
  line-height: 90%; /* 76.464px */
  letter-spacing: -1.699px;
  color: #fff;
}
.input-cont {
  margin-top: 60px;
  button {
    width: 130px;
    cursor: pointer;
    padding: 11px 12px;
    border-radius: 13px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: transparent;
    color: rgba(255, 255, 255, 0.5);
  }
  input {
    background-color: transparent;
    border-radius: 13px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 11px 21px;
    width: 420px;
    color: #fff;
    outline: none;
  }
}

.footer {
  .container {
    background-color: var(--bg-black);
    color: #fff;
    font-size: var(--font-Manrope);
    h3 {
      padding-top: 110px;
    }
  }
}

.footer-item {
  input {
    width: 300px;
    background-color: transparent;
    color: rgb(255, 255, 255);
    outline: none;
    border-bottom: 1px solid #ffffff80;
    margin-top: 25px;
  }
}
.footer-item {
  width: 300px;
  display: flex;
  flex-direction: column;
  position: relative;
  h2 {
    position: absolute;
    right: 0;
    top: 56%;
  }
}
.footer-content {
  display: flex;
  justify-content: space-between;
  width: 1300px;
}
.footer-nav {
  margin-top: 90px;
  margin-left: 30px;
  ul {
    list-style: none;
    li a {
      color: #ffffff7e;
      display: block;
      transition: 0.2s ease;
      margin-top: 15px;
      &.active {
        color: #fff;
      }
      &:hover {
        color: #fff;
      }
    }
  }  
}
.link-footer {
  position: absolute;
  bottom: 0;
}
.footer-seti {
  position: absolute;
  bottom: 0;
  width: 300px;
}
.seti-footer-header {
  display: flex;
}
.seti-footer-header {
  display: flex;
  justify-content: space-between;
  div {
    display: flex;
    align-items: center;
    img {
      margin-right: 10px;
    }
    p {
      width: 130px;
    }
  }
}
.footer-footer-item {
  margin-top: 15px;
  display: flex;
  p {
    margin-left: 15px;
    width: 350px;
  }
}
.us {
  margin-top: 30px;
}
