@import 'vars';
@import 'reset';

.container {
  margin: 0 auto;

  width: 1440px;
}
.header {
  position: absolute;
  z-index: 8;
  top: 0;
  left: 13%;
}
.container-centr {
  margin: 0 auto;
  padding: 0 95px;
  width: 1440px;
}
.header-content {
  color: #ffffff;
  display: flex;
  align-items: center;
  padding-top: 35px;
  width: 1400px;
  margin: 0 auto;
  justify-content: space-between;
}
.hidden {
  display: none;
}
.header-content-one-block {
  display: flex;
  align-items: center;
  font-size: var(--font-Manrope);
  font-size: 18px;
  position: relative;
  z-index: 5 !important;
}
.logo-text {
  margin-left: 8px;
}
.logo-content {
  display: flex;
  padding-right: 16px;
}
.navigation-header {
  display: flex;
  position: absolute;
  left: 0;
  top: 50px;
  p,
  a {
    &:first-child {
      color: #ffffff8b;
    }
    color: #fff;
    font-size: 14px;
    margin-right: 5px;
    font-family: var(--font-Manrope);
  }
}
.logo-content {
  border-right: 1px solid #ffffff;
}
.header-center-content {
  margin-left: 50px;
  display: flex;
}
.header-num-block {
  border-left: 1px solid #ffffff;
  margin-left: 30px;
  padding-left: 30px;
  display: flex;
  a {
    color: #ffffff;
    margin-left: 10px;
  }
}
.header-img_map {
  margin-right: 10px;
}
.language-content {
  display: flex;
  margin-right: 130px;

  p {
    margin-right: 12px;
    position: relative;

    &::before {
      content: '';
      transform-origin: left;
      transition: transform 0.2s ease;
      position: absolute;
      left: 0;
      bottom: 10px;
      transform: scale(0);

      width: 100%;
      height: 2px;
      background-color: #fff;
    }
    &:hover::before {
      transform: scale(1);
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
.navigation-header {
  display: flex !important;
}

.burger-meny-open .burger-content {
  opacity: 1;
}
.burger-menu {
  position: absolute;
  left: 232px;
  top: 0;
  z-index: 6;
  width: 1440px;
  height: 800px;
  background: rgba(0, 0, 0, 0.5);
}
.burger-meny-open {
  position: absolute;
  right: 0;
  width: 480px;
  height: 100%;
  background-color: var(--bg-grey);
}
.burger-content {
  opacity: 0;
  margin-top: 100px;
  padding: 0 40px;
  li {
    cursor: pointer;
    transition: 0.3s ease;
    list-style: none;
    &:hover {
      color: #fff;
      list-style-type: disc;
    }
  }
  a {
    color: #656565;
    display: block;

    &:hover {
      color: #fff;
      list-style-type: disc;
    }
  }
  ul {
    color: #656565;
  }
  .ul1 li {
    margin-top: 15px;
  }
}
.ul2 {
  margin-top: 30px;
  li {
    margin-top: 5px;
  }
}
.nav-footer {
  display: flex;
  margin-top: 30px;
  li {
    margin-right: 20px;
  }
}
li.active {
  color: #ffffff;
  list-style-type: disc;
  a{
    color: #fff;
  }

}
.language-content p.active::before {
  transform: scale(1);
}

// intro

.intro {
  color: #ffffff;

  h1 {
    font-size: 71px;
    font-family: var(--font-display);
    width: 900px;
    line-height: 90%;
  }
}
.inro-content {
  position: absolute;
  top: 20%;

  p {
    font-size: 18px;
    font-size: 400;
    font-family: var(--font-Manrope);
    width: 510px;
    line-height: 110%;
    margin-top: 30px;
  }
}
.intro-text-download {
  margin-top: 50px;
  text-decoration: underline;
  display: inline-block;
}
.intro-footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.type-us-intro {
  margin-top: 50px;
  display: inline-block;
  padding: 15px 17px;
  position: absolute;
  left: 0px;
  border-radius: 7px;
  color: #be7e00;
  background-color: #ffffff;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: #be7e00;
    color: #ffffff;
  }
}
.us {
  margin-top: 30px;
}

.two-intro-content {
  width: 1279px;
  height: 50px;
  background-color: #ffffff;
  margin: 0 auto;
  transform: translateY(-50px);
  padding: 100px 80px;
  display: flex;
  align-items: center;
  h2 {
    margin-right: 160px;
    font-size: var(--big-title);
    font-family: var(--font-display);
    line-height: 90%; /* 76.462px */
    letter-spacing: -1.699px;
  }
}
.text-content-intro {
  .block-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 60px;
    h3 {
      font-size: var(--big-title);
    }
  }
  margin-left: 230px;
  display: flex;
  justify-content: space-between;
  p {
    text-align: center;
    font-family: var(--font-Manrope);
  }
}
.two-intro {
  .container {
    background-color: var(--bg-black);
  }
}
.manage {
  .container {
    background-color: var(--bg-black);
  }
}

.manage-content {
  display: flex;
  color: #fff;
  .manage-item {
    .text {
      margin-top: 50px;
      font-size: 20px;
    }
    p {
      width: 430px;
      margin-top: 20px;
    }
    h1 {
      font-size: var(--big-title);
      font-family: var(--font-display);
      line-height: 90%; /* 76.462px */
      letter-spacing: -1.699px;
    }
  }
}
.btn-content {
  display: flex;
  align-items: center;
  margin-top: 10px;

  a {
    color: #be7e00;
    border-radius: 8px;
    padding: 5px 10px;
    margin-right: 10px;
    background-color: #fff9ec;
    transition: 0.4s ease;
    &:hover {
      background-color: #be7e00;
      color: #fff;
    }
  }
}
.btn180px {
  margin-top: 50px;
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 7px;
  background: rgba(255, 255, 255, 0.07);
  transform-origin: left;
  transition: 0.4s ease;
  text-align: center;
  width: 200px;
  &:hover {
    background-color: #be7e00;
    transform: translateY(-2px);
  }
}
.btn-content.first {
  margin-top: 50px;
}

.letters {
  .container {
    position: relative;
    &::after {
      position: absolute;
      content: '';
      left: 0;
      top: 0;
      width: 100%;
      z-index: 6;
      height: 100%;
      background-color: #00000077;
    }
  }
}
.letters-content {
  display: flex;
  flex-direction: column;
  padding-top: 10%;
  align-items: center;
  position: relative;
  z-index: 9;
  h1 {
    color: #fff;
    font-size: var(--big-title);
    font-family: var(--font-display);
    line-height: 90%; /* 76.462px */
    letter-spacing: -1.699px;
    text-align: center;
    margin-bottom: 30px;
  }
  input,
  textarea {
    &:focus {
      color: #ffffff;
    }
    outline: none;

    width: 430px;
    padding: 10px 20px;
    border-radius: 13px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: transparent;
    margin-top: 15px;
    max-width: 430px;
    &::placeholder {
      color: rgba(255, 255, 255, 0.5);
    }
  }
}
.letter-footer {
  display: flex;
  align-items: center;
  margin-top: 40px;
  p {
    color: rgba(255, 255, 255, 0.5);
  }
}
.check {
  margin-right: 20px;
}
.btn-foot {
  margin-left: 30px;
  border-radius: 13px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 10px 25px;
  cursor: pointer;
  transition: 0.3s ease;
  &:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.833);
  }
}

.footer {
  .container {
    background-color: var(--bg-black);
    color: #fff;
    font-size: var(--font-Manrope);
    padding-bottom: 100px;
    h3 {
      padding-top: 110px;
    }
  }
}

.footer-item {
  input {
    width: 300px;
    background-color: transparent;
    color: rgb(255, 255, 255);
    outline: none;
    border-bottom: 1px solid #ffffff80;
    margin-top: 25px;
  }
}
.footer-item {
  width: 300px;
  display: flex;
  flex-direction: column;
  position: relative;
  h2 {
    position: absolute;
    right: 0;
    top: 56%;
  }
}
.footer-content {
  display: flex;
  justify-content: space-between;
  width: 1300px;
}
.footer-nav {
  margin-top: 90px;
  margin-left: 30px;
  ul {
    list-style: none;
    li a {
      color: #ffffff7e;
      display: block;
      transition: 0.2s ease;
      margin-top: 15px;
      &.active {
        color: #fff;
      }
      &:hover {
        color: #fff;
      }
    }
  }
}
.link-footer {
  position: absolute;
  bottom: 0;
}
.footer-seti {
  position: absolute;
  bottom: 0;
  width: 300px;
}
.seti-footer-header {
  display: flex;
}
.seti-footer-header {
  display: flex;
  justify-content: space-between;
  div {
    display: flex;
    align-items: center;
    img {
      margin-right: 10px;
    }
    p {
      width: 130px;
    }
  }
}
.footer-footer-item {
  margin-top: 15px;
  display: flex;
  p {
    margin-left: 15px;
    width: 350px;
  }
}
